.form-content {
    display: flex;
    flex-direction: column;
}

.form-input-label {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-top: 5px;
    padding: 10px 5px;
}